<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">{{ getUsername() }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <ng-template ngFor let-item [ngForOf]="menuItems">
          <ng-template [ngIf]="item.items == null" [ngIfElse]="submenu">
            <li class="nav-item">
              <a class="nav-link" routerLink="{{item.route}}">{{item.label | translate }}</a>
            </li>
          </ng-template>
          <ng-template #submenu>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">{{item.label  | translate  }}</a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li *ngFor="let subitem of item.items">
                  <a class="dropdown-item" routerLink="{{subitem.route}}">{{subitem.label | translate }}</a>
                </li>
              </ul>
            </li>
          </ng-template>
        </ng-template>
        <li class="nav-item">
          <a class="nav-link"  (click)="doLogout()">{{ 'menu.logout' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>