<div class="container-fluid">
  <form [formGroup]="editForm" (ngSubmit)="updateEntity()" novalidate>
    <h2 class="card-header d-flex justify-content-between align-items-left">
        Update {{ 'slusergroup.name' | translate}}
        <div>
            <button type="submit" class="btn btn-outline-primary btn-sm  me-1" [disabled]="isLoading">
                <span class="fa fa-floppy-disk me-1"></span>
                <span>{{ 'actions.save' | translate}}</span>
            </button>
            <button type="reset"  class="btn btn-outline-primary btn-sm me-1" (click)="goBack()">
                <span class="fa fa-ban me-1"></span>
                <span>{{ 'actions.cancel' | translate}}</span>
            </button>
        </div>
    </h2>
    <br/>
      <table class="table table-strapped">
        <tbody>
        <tr>
            <th>{{ 'slusergroup.property.approved' | translate }}</th>
            <td><input type="text" name="approved" id="approved" formControlName="approved"/></td>
        </tr>
        <tr>
            <th>{{ 'slusergroup.property.user' | translate }}</th>
            <td>
                <select name="user" id="user" formControlName="user">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let nextOption of users" [value]="nextOption.id">{{nextOption.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>{{ 'slusergroup.property.group' | translate }}</th>
            <td>
                <select name="group" id="group" formControlName="group">
                    <option [ngValue]="null"></option>
                    <option *ngFor="let nextOption of groups" [value]="nextOption.id">{{nextOption.name}}</option>
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    </form>
    <br/>
    <div *ngIf="hasError()" class="alert alert-dismissible alert-danger">{{ getLastError() }}</div>

</div>
