<div *ngIf="isAdmin()">
  Hello Admin
</div>
<div class="container-fluid" *ngIf="!isLoading && !isAdmin()">
  <div class="row justify-content-md-left">
    <ul class="col-md-auto nav nav-pills nav-fill">
      <li class="nav-item">
        &nbsp;&nbsp;<span class="fa-solid fa-user-group"></span>&nbsp;&nbsp;
      <li class="nav-item">
        <button class="btn btn-outline-primary btn-sm  me-1" [routerLink]="['/groups/new/']">
          <span class="fa fa-plus me-1"></span>
        </button>&nbsp;&nbsp;
      </li>
      <li class="nav-item" *ngFor="let next of groups; let i = index">
        <a class="nav-link" aria-current="page" routerLink="/home/{{ i }}"
          [ngClass]="{ 'active':activeGroupIndex===i}">{{next.name }}</a>
      </li>
    </ul>
  </div>
  <div class="row justify-content-md-left">
    <ul class="col-md-auto nav nav-pills nav-fill">
      <li class="nav-item">
        &nbsp;&nbsp;<span class="fa-solid fa-store"></span>&nbsp;&nbsp;
      <li class="nav-item">
        <button class="btn btn-outline-primary btn-sm  me-1" [routerLink]="['/stores/new/' + getActiveGroup().id ]">
          <span class="fa fa-plus me-1"></span>
        </button>
        <button class="btn btn-outline-primary btn-sm  me-1" [routerLink]="['/stores/copy/' + getActiveGroup().id]">
          <span class="fa fa-copy me-1"></span>
        </button>
      </li>
      <li class="nav-item" *ngFor="let next of stores; let i = index">
        <a class="nav-link" aria-current="page" (click)="changeStore(i)"
          [ngClass]="{ 'active':activeStoreIndex===i}">{{next.name }}</a>
      </li>
    </ul>
  </div>
  <div class="row justify-content-md-left">
    <ul class="col-md-auto nav nav-pills nav-fill">
      <li class="nav-item">
        &nbsp;&nbsp;<span class="fa-solid fa-list"></span>&nbsp;&nbsp; 
      <li class="nav-item">
        <button class="btn btn-outline-primary btn-sm  me-1" [routerLink]="['/lists/new/' + getActiveStore().id]">
          <span class="fa fa-plus me-1"></span>
        </button>
      </li>
    </ul>
  </div>
  <div class="row justify-content-md-left">
    <ul class="col-md-auto nav nav-pills nav-fill">
      <li class="nav-item">
        &nbsp;&nbsp;
      <li class="nav-item">
        <table>      
          <tr *ngFor="let next of lists; let i = index">
            <td colspan="2"> &nbsp;&nbsp; </td>
            <td>
              {{ next.date | date:'medium' }}
              <button class="btn btn-outline-primary btn-sm  me-1" [routerLink]="['/lists/edit/', next.id]">
                <span class="fa fa-pencil" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </table>
      </li>
    </ul>
    
  </div>

</div>
<div *ngIf="isLoading">
  loading ...
</div>