<div *ngIf="isAdmin()">
  Hello Admin
</div>
<div class="container-fluid" *ngIf="!isLoading && !isAdmin()">
  <div class="row justify-content-md-left">
    <ul class="col-md-auto nav nav-pills nav-fill">
      <li class="nav-item">
        &nbsp;&nbsp;<span class="fa-solid fa-user-group"></span>&nbsp;&nbsp;
      <li class="nav-item">
        <button class="btn btn-outline-primary btn-sm  me-1" [routerLink]="['/groups/new/']">
          <span class="fa fa-plus me-1"></span>
        </button>&nbsp;&nbsp;
      </li>
      <li class="nav-item" *ngFor="let next of groups; let i = index">
        <a class="nav-link" aria-current="page" routerLink="/home/{{ i }}"
          [ngClass]="{ 'active':activeGroupIndex===i}">{{next.name }}</a>
      </li>
    </ul>
  </div>
  <div class="row justify-content-md-left">
    <ul class="col-md-auto nav nav-pills nav-fill">
      <li class="nav-item">
        &nbsp;&nbsp;<span class="fa-solid fa-store"></span>&nbsp;&nbsp;
      <li class="nav-item">
        <button class="btn btn-outline-primary btn-sm  me-1" [routerLink]="['/stores/new/' + getActiveGroup().id ]">
          <span class="fa fa-plus me-1"></span>
        </button>
        <button class="btn btn-outline-primary btn-sm  me-1" [routerLink]="['/stores/copy/' + getActiveGroup().id]">
          <span class="fa fa-copy me-1"></span>
        </button>
      </li>
      <li class="nav-item" *ngFor="let next of stores; let i = index">
        <a class="nav-link" aria-current="page" (click)="changeStore(i)"
          [ngClass]="{ 'active':activeStoreIndex===i}">{{next.name }}</a>
      </li>
    </ul>
  </div>
  <div class="row justify-content-md-left">
    <ul class="col-md-auto nav nav-pills nav-fill">
      <li class="nav-item">
        &nbsp;&nbsp;<span class="fa-solid fa-list"></span>&nbsp;&nbsp; 
      <li class="nav-item">
        <button class="btn btn-outline-primary btn-sm  me-1" [routerLink]="['/lists/new/' + getActiveStore().id]" *ngIf="activeStoreIndex >= 0">
          <span class="fa fa-plus me-1"></span>
        </button>
      </li>
    </ul>
  </div>
  <div class="row justify-content-md-left">
    <ul class="nav">
      <li>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <li>
        <table>      
          <tr *ngFor="let next of lists; let i = index">
            <td> &nbsp;&nbsp; </td>
            <td>
              {{ next.date | date:'medium' }}
              <button class="btn btn-outline-primary btn-sm  me-1" [routerLink]="['/lists/edit/', next.id]">
                <span class="fa fa-pencil" aria-hidden="true"></span>
              </button>
              <button class="btn btn-outline-primary btn-sm  me-1" (click)="copyList(i)">
                <span class="fa fa-copy" aria-hidden="true"></span>
              </button>
              <button class="btn btn-outline-primary btn-sm  me-1" (click)="deletList(i)">
                <span class="fa fa-trash" aria-hidden="true"></span>
              </button>
              <button class="btn btn-outline-primary btn-sm  me-1" (click)="openList(next.id)">
                <span class="fa fa-folder-open" aria-hidden="true"></span>
              </button>
              <button class="btn btn-outline-primary btn-sm  me-1" (click)="closeList()">
                <span class="fa fa-circle-xmark me-1" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </table>
      </li>
    </ul>    
  </div>
  <div class="row justify-content-md-left" *ngIf="activeList != null">
    <ul class="nav">
      <li>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <li>
        <table class="table table-hover table-striped">
          <tbody>
          <tr *ngFor="let next of getActiveListItems(); let i = index" (dblclick)="updateItemStatus(next.id)">
            <td> &nbsp;&nbsp; </td>
            <td>
              {{ next.name }}
            </td>
          </tr>
          </tbody>
        </table>
      </li>
    </ul> 
  </div>

</div>
<div *ngIf="isLoading">
  loading ...
</div>