<div class="container-fluid">
  <form [formGroup]="editForm" (ngSubmit)="updateEntity()" novalidate>
    <h2 class="card-header d-flex justify-content-between align-items-left">
        Update {{ 'slgroup.name' | translate}}
        <div>
            <button type="submit" class="btn btn-outline-primary btn-sm  me-1" [disabled]="isLoading">
                <span class="fa fa-floppy-disk me-1"></span>
                <span>{{ 'actions.save' | translate}}</span>
            </button>
            <button type="reset"  class="btn btn-outline-primary btn-sm me-1" (click)="goBack()">
                <span class="fa fa-ban me-1"></span>
                <span>{{ 'actions.cancel' | translate}}</span>
            </button>
        </div>
    </h2>
    <br/>
      <table class="table table-strapped">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity?.id }}</td>
        </tr>
        <tr>
            <th>{{ 'slgroup.property.name' | translate }}</th>
            <td><input type="text" name="name" id="name" formControlName="name"/></td>
        </tr>
        </tbody>
    </table>
    </form>
    <br/>
    <div *ngIf="hasError()" class="alert alert-dismissible alert-danger">{{ getLastError() }}</div>
</div>
